<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <img style="height: 400px;width: 400px;" id="img" src="https://login.weixin.qq.com/qrcode/{{ uuid }}">
</div>
<script src="/static/jquery-3.2.1.js"></script>
<script>
    $(function () {
        Check_Login();
    });
    TIP = 0;
    function Check_Login() {
        $.ajax({
            url: "/check_login.html",
            type: "get",
            data: {'tip': TIP},
            dataType: "JSON",
            success: function (arg) {
                if (arg.code == 408) {
                    Check_Login();
                } else if (arg.code == 201) {
                    $('#img').attr('src', arg.data);
                    Check_Login();
                }else {
                    TIP =1;
                    console.log(11111111111111);
                    location.href = "/index.html"
                }
            }
        })
    }
</script>
</body>
</html>